{% extends 'blog/base.html' %}

{% block body %}
    <div class="post-detail">
        <div class="title">{{ post_detail.title }}</div>
        <div class=description>{{ post_detail.category }} | Published at : {{ post_detail.published_date }}</div>
        <div id="body" class="body">{{ post_detail.text }}</div>
    </div>
{% endblock %}

{% block script %}   
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        const body = document.getElementById('body');
        const innerHTML = body.innerHTML;
        
        body.innerHTML = innerHTML.replace(
            /--&gt;/gi, "&rightarrow;"
        ) .replace(
            /^(\r\n|\n|\r|\s*)$/gm, "&nbsp;\n"
        ) .replace(
            /$/gm, "  "
        );
        
        body.innerHTML = marked(body.innerHTML);
        
    </script>


    <script>
        shortcuts["e"] = function (e) {
            e.preventDefault();
            const post_id = {{ post_detail.id }};
            document.location.href = "/post/" + post_id + "/edit/";
        }    
        
    </script>
{% endblock %}