{% extends 'blog/base.html' %}

{% block body %}
    <div class="post-detail">
        <h1>{{ post_detail.title }}</h1>
        <div class="date">Published at : {{ post_detail.published_date }}</div>
        <div class="body">{{ post_detail.text }}</div>
    </div>
{% endblock %}

{% block script %}    
    <script>
        shortcuts["e"] = function (e) {
            e.preventDefault();
            const post_id = {{ post_detail.id }};
            document.location.href = "/post/" + post_id + "/edit/";
        }    
        
    </script>
{% endblock %}