{% extends 'blog/base.html' %}

{% block body %}
    <form class="auth-form" method="POST">
        {% csrf_token %}
        
        <div class="title">
            회원가입    
        </div>
        
        <div class="form-container">
            <div>
                <input class="text-form" id="username" type="text" name="username" placeholder="Username" />
            </div>
            <div>
                <input class="text-form" id="password" type="password" name="password" placeholder="Password" />
            </div>
        </div>
        
        <div>
            <input class="button" type="submit" value="회원가입"/>
        </div>
    </form>
{% endblock %}