
.app-container {
    padding: 48px 18%;
    
}

.post-item {
    margin: 25px 3;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.125); 
}

.post-item .title {
    margin-bottom: 4px;
}

.post-item .title a {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.post-item .description {
    color: grey;
    margin-bottom: 5px;
    font-size: 14px;
}

.post-item .body {
    font-size: 14px;
    height: 85px;
    overflow: hidden;
    color: #555;
}

.post-detail .title {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 12px;
}

.post-detail .description {
    color: grey;
    font-size: 15px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
}

.post-detail .body {
    margin-top: 24px;
    line-height: 2.5;
    padding: 12px 0 18px 0;
    word-break: keep-all;
    font-size: 14.5px;
}

.post-detail .body p {
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 24px 0 18px 0;
}

.post-detail .body h1 {
    font-size: 24px;
    font-weight: bold;
}

.post-detail .body h2 {
    font-size: 22px;
    font-weight: bold;
}

.post-detail .body h3 {
    font-size: 20px;
    font-weight: bold;
}

.post-detail .body h4 {
    font-size: 18px;
    font-weight: bold;
}

.post-detail .body h5 {
    font-size: 15px;
    font-weight: bold;
}

.auth-form {
    text-align: center;
}

.auth-form .title {
    font-size: 24px;
    font-weight: bold;
}

.auth-form .form-container {
    margin: 48px 0 24px 0;
}

.form-container .text-form {
    border-radius: 25px;
    border: 1px solid grey;
    padding: 4px 12px;
    margin-bottom: 18px;
    width: 240px;
    height: 36px;
    text-align: center;
}

.auth-form .button {
    border-radius: 25px;
    border: 1px solid grey;
    padding: 4px 12px;
    margin-bottom: 18px;
    width: 240px;
    height: 36px;
    text-align: center;
    background-color: #343a40;
    color: white;
}

.navbar {
    padding: 15px 5% 15px 8%;
    background-color: black !important;
    height: 65px;
}

.navbar-brand{
    font-size: 18px;
}

.nav-link{
    font-size: 15px;
}

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
    background-color: black;
    text-align: center;
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;
}

.sidebar a {
    padding: 12px 32px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color: white;
}

textarea {
    border: none;
    border-top: 1px solid lightgrey;
    padding : 30px 0;
    overflow: hidden;
    outline: none;
    width: 100%;
    margin-bottom: 36px;
    line-height: 2.2;
}

#post-form .title {
    border: none;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#post-form .title:focus, #post-form .category:focus {
    outline: none;
}

#post-form .category {
    background-color: white;
    border: none;
    margin-bottom: 36px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#post-form .button


.post-item .date {
    font-size: 16px;
    color: grey
}

p {
    line-height: 2.2;
    margin: 0;
}

.text {
    font-size: 14.5px;
}

